@import 'reset';
button {
  border: none;
}
#banner {
  height: 241px;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  img {
    margin-left: 10%;
    margin-right: 5%;
    width: 380px;
  }
  div {
    position: relative;
    margin-left: 5%;
    margin-right: 10%;
    text-align: center;
    h1 {
      font-family: 'Lato', sans-serif;
      font-size: 45px;
      color: #1E7BE2;
      letter-spacing: 0px;
      margin-top: 15px;
    }
    p {
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      color: #A1A1A1;
      letter-spacing: 0px;
      width: 60%;
      margin: 15px auto;
    }
    .login-btn {
      width: 40%;
      position: relative;
      left: 0;
    }
    .signup-btn {
      width: 40%;
      position: absolute;
      right: 0;
    }
  }
  
}

.cards {
  margin-top: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  .card {
    text-align: center;
    flex: 0 0 255px;
    height: 188px;
    margin: auto;
    border: 1px solid #A2A6A7;
    border-radius: 3px;
    h4 {
      margin-top: 10%;
      margin-bottom: 10%;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 14px;
      color: #4A90E2;
      letter-spacing: 0.285px;
    }
    p {
      font-family: 'Lato', sans-serif;
      font-size: 10.5px;
      color: #A1A1A1;
      letter-spacing: 0.2px;
      width: 70%;
      margin: auto;
    }
    img {
      margin-bottom: 10%;
    }
  }
  .card:nth-of-type(1) {
    margin-left: 10%;
  }
  .card:nth-of-type(3) {
    margin-right: 10%;
  }
  .card:hover {
    border-color: #4A90E2;
  }
}


button {
  height: 30px;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  letter-spacing: 0px;
}
.login-btn {
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  color: #1E7BE2;
}
.signup-btn {
  background: #1E7BE2;
  color: #FFFFFF;
}

#bottom-text {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  color: #1E7BE2;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 38px;
}

#ui-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-top: 38px;
  button {
    width: 150px;
    margin: auto;
  }
  button:nth-of-type(1) {
    margin-left: 30%;
  }
  button:nth-of-type(2) {
    margin-right: 30%;
  }
}

#signup-form, #login-form {
  box-shadow: 0 0 3px #757575;
  background: #FCFCFC;
  border: 1px solid #A2A6A7;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  input, h4, label, button {
    display: block;
  }
  h4 {
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
    color: #A1A1A1;
    letter-spacing: 0.285px;
  }
  input {
    width: 80%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #D4D4D4;
    font-size: 14px;
    color: #757575;
    letter-spacing: 0.2px;
    outline: 0;
    background: #FCFCFC;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  label {
    font-size: 11;
    color: #A1A1A1;
    letter-spacing: 0.1875px;
    width: 80%;
    margin-top: 15px;
    margin-left: 37.5px;
  }
  button {
    width: 60%;
    margin: 15px auto 0;
    font-size: 11px;
    color: #FFFFFF;
    letter-spacing: 0px;
    background: #1E7BE2;
    border: none;
    border-radius: 3px;
  }
}

button {
  outline: 0;
}

#navigation-container {
  width: 100%;
  position: fixed;
  height: 45px;
  background: #FFFFFF;
  border-bottom: 1px solid #D4D4D4;
  z-index: 1000;
  h3 {
    color: #1E7BE2;
    letter-spacing: 0px;
    position: fixed;
    top: 8px;
    left: 38px;
    font-size: 30px;
    font-family: 'Permanent Marker';
  }
  button {
    background: #1E7BE2;
    border-radius: 3px;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0px;
    position: absolute;
    right: 38px;
    top: 8px;
    height: 30px;
    font-weight: lighter;
    width: 120px;
    border: none;
  }
}

.landing-view {
  position: fixed;
}
.landing-view .cards {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  #profile-card {
    margin: 90px auto 0;
    width: 225px;
    border: 1px solid #A2A6A7;
    border-radius: 3px;
    height: 300px;
    p {
      font-family: Lato-Regular;
      font-size: 11px;
      color: #A1A1A1;
      letter-spacing: 0.2px;
      text-align: center;
    }
    h3 {
      font-family: Lato-Bold;
      font-size: 14px;
      color: #4A90E2;
      letter-spacing: 0.285px;
      text-align: center;
      margin-bottom: 19px;
    }
    img {
      display: block;
      margin: 38px auto 15px;
      width: 75px;
    }
  }
  .card {
    margin: 128px auto 0;
    flex: 0 0 225px;
    border: 1px solid #A2A6A7;
    border-radius: 3px;
    height: 225px;
    h4 {
      margin-top: 60px;
    }
    p {
      margin-top: 23px;
    }
  }
  .card:hover, #profile-card:hover {
    border-color: #4A90E2;
  }
}

#button-descriptions {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  color: #1E7BE2;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 60px;
}

.buttons {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-top: 60px;
  .login-btn {
    width: 150px;
    height: 60px;
    margin: auto;
    margin-right: 300px;
  }
  .signup-btn {
    width: 150px;
    height: 60px;
    margin: auto;
    margin-left: 300px;
  }
}

#edit-info {
  display: block;
  margin: 60px auto 0;
  width: 113px;
  font-family: 'Lato', sans-serif;
  border: none;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  font-size: 11px;
  color: #1E7BE2;
  letter-spacing: 0px;
}

#create-form, #join-form {
  box-shadow: 0 0 3px #757575;
  background: #FCFCFC;
  border: 1px solid #A2A6A7;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  input, h4, label, button {
    display: block;
  }
  h4 {
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
    color: #A1A1A1;
    letter-spacing: 0.285px;
  }
  input {
    width: 80%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #D4D4D4;
    font-size: 14px;
    color: #757575;
    letter-spacing: 0.2px;
    outline: 0;
    background: #FCFCFC;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  label {
    font-size: 11;
    color: #A1A1A1;
    letter-spacing: 0.1875px;
    width: 80%;
    margin-top: 15px;
    margin-left: 38px;
  }
  button {
    width: 60%;
    margin: 15px auto 0;
    font-size: 11px;
    color: #FFFFFF;
    letter-spacing: 0px;
    background: #1E7BE2;
    border: none;
    border-radius: 3px;
  }
}

input:-webkit-autofill {
  box-shadow: none;
  -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #757575;;
}

input:-webkit-autofill:focus {
  box-shadow: none;
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #757575;;
}

#room-view {
  position: absolute;
  margin-top: 0;
  font-family: 'Lato', sans-serif;
  width: 100vw;
  #room-banner {
    border: 1px solid #A2A6A7;
    margin: 70px auto 20px;
    height: 70px;
    width: 500px;
    border-radius: 3px;
    h2 {
      font-size: 36px;
      color: #1E7BE2;
      letter-spacing: 0px;
      text-align: center;
      vertical-align: middle;
      line-height: 70px;
    }
  }
  #room {
    display: flex;
    #canvas-container {
      height: 60%;
      width: 60%;
      border: 1px solid #A2A6A7;
      border-radius: 3px;
      margin: auto;
      #canvas {
        overflow: scroll;
        width: 100%;
        height: 70vh;
        canvas {
          cursor: crosshair;
          background-color: white;
        }
      }
      #canvas-controls {
        width: 100%;
        height: 5vh;
        margin: 0 auto;
        border-top: 1px solid #A2A6A7;
        input, p, select {
          display: inline-block;
        }
        button {
          vertical-align: middle;
          margin: .5vh 15px;
          float: right;
          height: 4vh;
          width: 120px;
          border-radius: 3px;
          font-family: 'Lato', sans-serif;
          font-size: 11px;
          letter-spacing: 0px;
          background-color: #1E7BE2;
          border: none;
          color: #FFFFFF;
        }
        #color-controls {
          text-align: center;
          vertical-align: middle;
          margin: .5vh 15px;
          float: left;
          height: 4vh;
          width: 120px;
          border-radius: 3px;
          font-family: 'Lato', sans-serif;
          font-size: 11px;
          letter-spacing: 0px;
          background-color: #1E7BE2;
          border: none;
          color: #FFFFFF;
          label {
            position: relative;
            top: 2px;
            font-size: 11px;
          }
          input {
            background-color: #000000;
            position: relative;
            width: 80%;
            height: 50%;
            border-radius: 3px;
            top: .2vh;
            display: block;
            margin: 0 auto;
            -webkit-appearance: none; 
            border: none;
          }
          input::-webkit-color-swatch {
            border: none;
          }
        }
        #width-controls {
          vertical-align: middle;
          margin: .5vh 15px;
          float: left;
          height: 4vh;
          width: 120px;
          border-radius: 3px;
          font-family: 'Lato', sans-serif;
          font-size: 11px;
          letter-spacing: 0px;
          background-color: #1E7BE2;
          border: none;
          color: #FFFFFF;
          text-align: center;
          label {
            position: relative;
            top: 2px;
            font-size: 11px;
          }
          input {
            position: relative;
            width: 80%;
            top: .2vh;
            display: block;
            margin: 0 auto;
          }
        }
        #draw-erase {
          vertical-align: middle;
          margin: .5vh 15px;
          float: right;
          height: 4vh;
          width: 120px;
          border-radius: 3px;
          font-family: 'Lato', sans-serif;
          font-size: 11px;
          letter-spacing: 0px;
          background-color: #1E7BE2;
          border: none;
          color: #FFFFFF;
          outline: 0;
        }
      }
    }
    #chat-video {
      margin: 0 auto;
      height: 75vh;
      width: 30%;
      #video-container {
        width: 100%;
        border: 1px solid #A2A6A7;
        border-radius: 3px;
        video {
          width: 100%;
        }
      }
      #chat-container {
        position: relative;
        bottom: -25px;
        left: 0;
        right: 0;
        width: 100%;
        height: 200px;
        border: 1px solid #A2A6A7;
        border-radius: 3px;
        #chat-window {
          height: 85%;
          overflow: auto;
          .message {
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            letter-spacing: 0;
            color: #757575;
            outline: 0;
            padding-top: 5px;
            padding-left: 5px;
          }
        }
        #chat-form {
          border-top: 1px solid #A2A6A7;
          height: 15%;
          vertical-align: bottom;
          button {
            float: right;
            width: 30%;
            background: #1E7BE2;
            border: none;
            vertical-align: middle;
            border-radius: 0;
            border-bottom-right-radius: 3px;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            letter-spacing: 0px;
            color: #FFFFFF;
            outline: 0;
          }
          input {
            width: 70%;
            background: #FFFFFF;
            border: none;
            vertical-align: middle;
            border-radius: none;
            border-bottom-left-radius: 3px;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            letter-spacing: 0;
            color: #757575;
            outline: 0;
            padding-top: 5px;
            padding-left: 5px;
          }
        }
      }
    }
  }
}